body {
    font-family: var(--second-font);
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    display: block;
    min-height: 100vh;
}

.title-card-container {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url("../Images/drinks_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -102px;
    z-index: 0;
}

.events-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--deco-color);
    font-size: 3.5em;
    text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.8);
    margin: 0;
}

.text-pop {
    position: absolute;
    width: 1000px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, 35%);
}

.event-list-container {
    background-color: var(--main-color);
    padding: 50px 0 0 0;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.event-section {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.event-section h3 {
    color: var(--deco-color);
    font-size: 70px;
    margin: 0 0 -5px 0;
    text-align: center;
}

.event-row {
    display: flex;
    gap: 20px;
    margin: 50px 0;
}

.event-item {
    position: relative;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    flex: 1;
}

.event-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner-row .event-item.banner {
    flex: 3;
}

.three-image-row .event-item {
    flex: 1;
}

.two-image-row .event-item {
    flex: 1;
}

.overlay-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: scale(1.025);
}

@media (max-width: 786px) {
    .title-card-container{
        height: 50vh;
    }
    .event-list-container{
        padding: 20px 0 0 0;
    }

    .event-section{
        width: 80%;
        padding: 20px 0;
    }

    .text-pop{
        width: 100%;
        transform: translate(-50%, -5%);
    }

    .event-section h3{
        font-size: 40px;
    }
    
    .event-row{
        gap: 10px;
        margin: 20px 0;
    }
}