.footer-container {
  background-color: transparent;
  padding: 30px 0 30px 0;
  text-align: center;
  z-index: 100;
  position: relative;
}

.footer-logo {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--deco-color);
  margin-bottom: 10px;
}

.footer-container p {
  color: var(--text-normal);
  font-size: 24px;
  line-height: 1.8;
}

@media (max-width: 786px) {
  .footer-container p{
    font-size: 15px;
    line-height: 1.5;
  }
}