@font-face {
    font-family: MarcellusSC;
    src: url(Fonts\MarcellusSC-Regular.ttf);
}
@font-face {
    font-family: Zodiac-Light;
    src: url(Fonts\Zodiak-Light.otf);
}
@font-face {
    font-family: Gwendolyn;
    src: url(Fonts\Gwendolyn-Bold.ttf);
}

:root {
    --main-color:#1C1E1D;
    --second-color:#641B2E;
    --deco-color:#F5C45E;
    --text-normal:#F9F9F9;
    --text-fancy:#F5C45E;
    --main-font: 'MarcellusSC', serif;
    --second-font: 'Zodiak', serif;
}

*{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.gwendolyn-bold {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--deco-color);
}

.nav-bar {
    background-color: rgba(28, 30, 29, 0.8);
    border-bottom: 2px solid var(--deco-color);
    height: 100px;
    position: relative;
    z-index: 100;
}
  
.vert-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--deco-color);
    z-index: 101;
}
  
.left-line {
    left: 10%;
 }
  
.right-line {
    right: 10%;
}
  
.nav-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1px;
    height: 100px;
}
  
.nav-menu {
    display: contents;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-menu li {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
.nav-menu li a {
    text-decoration: none;
    color: var(--text-normal);
    font-size: 25px;
    font-weight: 400;
    line-height: 100px;
    user-select: none;
    width: 100%;
    text-align: center;
    z-index: 1;
    transition: color 0.5s ease;
}
  
.nav-menu li:hover {
    background-color: rgba(28, 30, 29, 0.5);
}
  
.nav-menu li:hover a {
    color: var(--deco-color);
    transform: scale(1.1);
}

.events {
    position: absolute;
    right: 2%;
}
.events img {
    width: 100px;
    height: auto;
    transition: 0.3s;
}

.events img:hover {
    scale: 1.1;
}